.poke_card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s;
  filter: blur(5px);
  transform: translateX(-100%);
  display: flex;
  margin: 1rem;
  flex-direction: column;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  min-height: 260px;

  &:hover {
    scale: 1.1;
    transition: 0.2s;
  }

  .poke_name {
    font-family: 'Jura', sans-serif;
    cursor: default;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
  }

  .poke_id {
    font-family: 'Inter', sans-serif;
    color: #666666;
    font-size: 11px;
    margin: 0;
    position: absolute;
    right: 7px;
    top: 7px;
  }

  .poke_types {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    span {
      font-family: 'Jura', sans-serif;
      max-width: 90%;
      cursor: default;
      margin: 5px 0;
      font-weight: 500;
      border-radius: 5px;
      padding: 0 5px 2px 5px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .poke_card {
    width: 300px;
    height: 390px;

    img {
      width: 227px;
      height: 247px;
    }

    .poke_name {
      font-size: 38px;
    }
  }

  .poke_types {
    span {
      font-size: 25px;
    }
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
